<div class="row">
	<h1>Account</h1>
</div>

<div class="row">
	<table class="table">

		<tbody>
			<tr>
				<th>Id</th>
				<td>{{account.id}}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{account.name}}</td>
			</tr>
			<tr>
				<th>Last Interest Paid</th>
				<td>{{account.lastInterestPaid | date:'yyyy-MM-dd'}}</td>
			</tr>
			<tr>
				<th>Current Balance</th>
				<td>{{account.currentBalance | number:2}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-show="state.busy">
	Busy
</div>

<div class="row" ng-hide="state.busy">
	<a class="btn btn-default" ng-click="refreshInterest()">Refresh Interest</a>
	<a class="btn btn-default" ng-href="#accounts/{{id}}/transactions/new?kind=deposit">New Deposit</a>
	<a class="btn btn-default" ng-href="#accounts/{{id}}/transactions/new?kind=withdrawal">New Withdrawal</a>
</div>

<br />

<div class="row well">
	<canvas id="chart" width="800" height="200"></canvas>
</div>

<div class="row" ng-hide="state.busy">
	<h2>Transactions</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Kind</th>
				<th>Credit</th>
				<th>Debit</th>
				<th>Balance</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="transaction in transactions">
				<td>{{transaction.createdAt | date:'yyyy-MM-dd'}}</td>
				<td>{{transaction.kind}}</td>
				<td>{{transaction.credit | number:2}}</td>
				<td>{{transaction.debit | number:2}}</td>
				<td>{{transaction.balance | number:2}}</td>
			</tr>
		</tbody>
	</table>
</div>