<div class="row">
	<h2>New {{transaction.kind}}</h2>
	<hr>
	<p>Account Id: {{account.id}}</p>
	<p>Account Name: {{account.name}}</p>
	<p>Current Balance: {{account.currentBalance}}</p>
	<hr>
</div>

<div class="row" ng-show="state.busy">
	Loading
</div>

<div class="row" ng-hide="state.busy">

	<form name="transactionForm" role="form">

		<div class="form-group" ng-class="{'has-error': true}">
			<label class="control-label" for="amount">Amount</label>
			<input type="number" name="amount" class="form-control" placeholder="Amount" ng-model="transaction.amount" min="1" required />

			<span class="help-block" ng-show="transactionForm.amount.$dirty && transactionForm.amount.$invalid">
				<span ng-show="transactionForm.amount.$error.required">Required</span>
				<span ng-show="transactionForm.amount.$error.number">Must be a number</span>
				<span ng-show="transactionForm.amount.$error.min">Must be more than 0</span>
			</span>

		</div>

		<button type="button" class="btn btn-default" ng-click='submit()' ng-disabled="transactionForm.$invalid">Submit</button>
		&nbsp;
		<a ng-href="#accounts/{{account.id}}">Cancel</a>
	</form>

</div>